/*.navbar-inverse ul.navbar-nav li a {
  color: #fff;
}

.navbar-inverse ul.navbar-nav li a:hover {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.navbar-inverse ul.navbar-nav li a:focus {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.main-name {
  color: #fff;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}*/
