<footer class="text-center bck_gray">
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="social_icon_list">
            <li><a class="fb_icon" target="_blank" href="https://www.facebook.com/teresa.torrijos.garcia"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twit_icon" target="_blank" href="https://twitter.com/teresatorrijos"><i class="fa fa-twitter"></i></a></li>
            <li><a target="_blank" href="#" class="gogle_plus_icon"><i class="fa fa-google-plus"></i></a></li>
            <li><a target="_blank" href="https://www.instagram.com/teresatorrijos/" class="vimeo_icon"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-12 mar_bot_top_ten">
          <br> © <i class="fa fa-bullseye"></i> 2017. Coded by
          <a href="https://www.linkedin.com/in/teresa-torrijos-garcia/" title="gurdeeposahan" target="_blank">@teresatorrijos</a>
        </div>
      </div>
    </div>
  </div>
</footer>
