header#top, .main-header {
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
}

.box img {
  position: absolute;
  margin-left: -50%;
}

@media (min-width: 1220px) {
  .box img {
    bottom: -35%;
  }
}

@media (max-width: 768px) {
  .adjust-height {
    height: 500px;
  }
}

@media (max-width: 415px) {
  .adjust-height {
    height: 310px;
  }
}

.btn-link-yo {
  background: #be5254 none repeat scroll 0 0;
  border-radius: 144px;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 300;
  height: 50px;
  line-height: 16px;
  margin: auto;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
}

.btn-group {
  margin-bottom: 30px;
}

.chart {
  margin-top: 50px;
}

.boxy {
  position: relative;
  width: 80%;
  Float: right;
}

.legend-box {
  height: 500px;
  width: 19.5%;
  background-color: white;
  Float: left;
  height: 95%;
  position: absolute;
}

.boxy-leg {
  height: 85%;
  width: 100%;
  background-color: white;
  overflow: hidden;
  margin: 0 auto;
}
.boxy-leg img {
  position: absolute;
  margin-left: -50%;
}

.row3 {
  height: 500px;
  position: relative;
}
